# Supabase
VITE_SUPABASE_URL=https://gfiaptfojkzriuepunhs.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdmaWFwdGZvamt6cml1ZXB1bmhzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIxMzE0NjUsImV4cCI6MjA5NzcwNzQ2NX0.4Ek1kpxvEKrfgp-qselLinktCjiq1OpBvrWokhQgzEQ

# API-Football (RapidAPI)
VITE_API_FOOTBALL_KEY=4de86cf6ca0d071f7b1752cc9908e811
VITE_API_FOOTBALL_HOST=v3.football.api-sports.io

# World Cup 2026 League ID en API-Football = 1 (FIFA World Cup)
VITE_WC_LEAGUE_ID=1
VITE_WC_SEASON=2026
